<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

	<!-- bean 등록 -->
	<!-- 
		Container는 bean 목록에서 bean을 찾을 때 고유한 이름으로 사용
		만약 id를 생략하면 기본적으로 클래스명의 앞글자를 소문자로 하는 naming rule로 자동 bean의 id를 설정 (ex. Member 클래스는 member)
		class 속성은 bean으로 만들 객체 타입을 풀 패키지명으로 작성
	 -->
	<bean id="member" class="com.kh.chap01_bean_factory.xmlconfig.Member">
		<!-- 생성자를 사용해 값 설정 : index, name 속성 사용 가능 -->
		<constructor-arg index="0" value="1"/>
		<constructor-arg name="id" value="user01"/>
		<constructor-arg index="2"><value>pass01</value></constructor-arg>
		<constructor-arg name="name"><value>홍길동</value></constructor-arg>
	</bean>


</beans>
