<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">	<!-- 마이바티스 홈페이지에서 가져오기 -->
<mapper namespace="MenuMapper">	<!-- 매퍼 사용하기 위해서는 mybatis-config에 매퍼 설정 필요 -->
	
	<resultMap id="menuResultMap" type="com.kh.chap01_connection.xmlconfig.Menu">
		<id property="code" column="MENU_CODE"/>
		<result property="name" column="MENU_NAME"/>
		<result property="price" column="MENU_PRICE"/>
		<result property="categoryCode" column="CATEGORY_CODE"/>
		<result property="orderableStatus" column="ORDERABLE_STATUS"/>
	</resultMap>
	
	
	<select id="selectMenuList" resultMap="menuResultMap">
		SELECT
				MENU_CODE
			  , MENU_NAME
			  , MENU_PRICE
			  , CATEGORY_CODE
			  , ORDERABLE_STATUS
		   FROM TBL_MENU
		  WHERE ORDERABLE_STATUS ='Y'
		  ORDER BY MENU_CODE
	</select>

</mapper>