<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

	<!-- bean 태그의 class 속성은 인터페이스 타입이 아닌 구현 "클래스 타입"으로 설정해야됨! -->
	<bean id="accountGenerator" class="com.kh.chap03_dependency_injection.xmlconfig.PersonalAccount">
		<constructor-arg index="0" value="20"/>
		<constructor-arg name="accNo" value="110-234-5678"/>
		<constructor-arg name="accPwd"><value>1234</value></constructor-arg>
	</bean>
	
	
	<!-- 멤버 객체는 Account type의 객체를 필요로 함. 
	         생성자(를 이용한 의존성) 주입 방법 : <constructor-arg> 태그 사용 -->
<!-- 	<bean id="memberGenerator" class="com.kh.chap03_dependency_injection.xmlconfig.Member">
		<constructor-arg name="sequence" value="1"/>
		<constructor-arg name="name" value="홍길동"/>
		<constructor-arg name="phone" value="010-1234-5678"/>
		<constructor-arg name="email" value="hong123@gmail.com"/>
		
		다른 bean을 주입하여 생성자에 전달할 때 value 대신 ref를 사용함
		<constructor-arg name="personalAccount">
			<ref bean="accountGenerator"/>
		</constructor-arg>
		<constructor-arg name="personalAccount" ref="accountGenerator"/>
		
		
	</bean> -->
	
	
	<!-- setter(를 이용한 의존성) 주입 : <property> 태그 사용  -->
	<bean id="memberGenerator" class="com.kh.chap03_dependency_injection.xmlconfig.Member">
		<property name="sequence" value="1"/>
		<property name="name" value="홍길동"/>
		<property name="phone" value="010-1234-5678"/>
		<property name="email" value="hong123@gmail.com"/>
		<property name="personalAccount" ref="accountGenerator" />
	</bean>


</beans>
